node_modules/
.turbo/
.cache/
dist/
.next/
.next-local/
.next-prod-api/
.expo/
/apps/mobile/ios/
/apps/mobile/android/
*.tsbuildinfo

.env
.env.local
.env.*.local
!.env.example

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
